.top-header-tagline{
	font-size: 19px;
}

#picto-phone{
	float: left;
    margin-right: 20px;
}

.contact-us-wrapper{
	    float: right;
    padding-right: 35px;
}

#post-119 {
	min-height: 300px; 
}

.error{
	padding: 5px 9px;
	border: 1px solid red;
	color: red;
	border-radius: 3px;
}

.success{
	padding: 5px 9px;
	border: 1px solid green;
	color: green;
	border-radius: 3px;
}

form span{
	color: red;
}

#respond h3{
	margin: 10px 0;
	font-size: 22px;
	color: white;
	font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	text-align: center;
	padding: 3% 0;

}
#respond button{
	background-color: #C7AF28;
	border: none;
	width: 20%;
	height: 50px;
	font-size: 30px;
	color: white;
}
#respond button[disabled]{
	background-color: rgba(199, 175, 40, 0.59);
	color: rgba(255, 255, 255, 0.44);
}

.active .question-panel{
	display: block;
}

.not-active .question-panel{
	display: none;
}


.panel-wrapper.active h3{
	background-color: rgb(41, 118, 200);
}

.panel-wrapper.not-active h3{
	background-color: rgba(99, 156, 215, 0.63);
}