.top-header-tagline{
	font-size: 19px;
}

#picto-phone{
	float: left;
    margin-right: 20px;
}

.contact-us-wrapper{
	    float: right;
    padding-right: 35px;
}

#post-119 {
	min-height: 300px; 
}

.error{
	padding: 5px 9px;
	border: 1px solid red;
	color: red;
	border-radius: 3px;
}

.success{
	padding: 5px 9px;
	border: 1px solid green;
	color: green;
	border-radius: 3px;
}

form span{
	color: red;
}

#respond h3{
	margin: 10px 0;
	font-size: 22px;
	color: white;
	font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	text-align: center;
	padding: 3% 0;

}
#respond button{
	background-color: #e34514;
	border: none;
	width: 20%;
	height: 50px;
	font-size: 30px;
	color: white;
	margin: 2em 40%;
}
#respond button.send-simul{
	width: 100%;
	margin: 2em 0;
	padding: 1em;
	height: auto;
}


#respond button[disabled]{
	margin: 2em 40%;
	background-color: rgba(199, 175, 40, 0.59);
	color: rgba(255, 255, 255, 0.44);
}


.active .question-panel{
	display: block;
}

.not-active .question-panel{
	display: none;
}
.question-panel .form-group{
	min-height: 100px;
}

.panel-wrapper.active h3{
	background-color: rgb(41, 118, 200);
}

.panel-wrapper.not-active h3{
	background-color: rgba(99, 156, 215, 0.2);
}

.panel-2 .question-panel input[type="number"]{
	width: 30%;

}
.panel-2 .question-panel label{
	margin-right: 50px;

}

.panel-2 .question-panel h5 {
	display: inline-block;
	float: left;
	width: 30%;
}

.ligne-form-simulation{
	line-height: 3em;
}
.ligne-form-simulation label{
	min-width: 10em;
}